*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
}
/*font-family: 'Chivo', sans-serif;
font-family: 'Open Sans', sans-serif;*/
a{
	text-decoration: none;
	/*color: white;*/
}
ul{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	background-color: #150303;
}
.nav-link{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #1182C6 !important;
	text-transform: uppercase;
	font-weight: 600;
	transition: 0.5s;
}
.nav-link:hover{
color: #EA6594 !important;
transition: 0.5s;
}
.quote-btn{
	background: #EA6594;
	font-family: 'Open Sans', sans-serif;
	color: #1182C6;
	padding: 20px 60px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 16px;
}
.quote-btn:hover{
	color: white !important;
	background-color: #1182C6;
}
.navbar{
	padding: 0;
}
.nav-item{
	margin-left: 16px;
}
#banner{
	width: 100%;
	background-color: #150303;
}
.b-content{
 height: 78vh;
 display: flex;
 align-items: center;
}
.b-content h1{
	font-family: 'Chivo', sans-serif;
	font-size: 45px;
	font-weight: 800;
    margin-bottom: 13px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
}
.b-content p{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 36px;
    display: block;
    font-size: 24px;
    padding-right: 50px;
    color: #fff;
    line-height: 1.4;
    font-weight: 400;
}
.book-btn{
	background: #EA6594;
    font-family: "Chivo",sans-serif;
    z-index: 99;
    padding: 32px 58px;
    color: #1182C6;
    cursor: pointer;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 700 !important;
    border-radius: 0;
    line-height: 1;
    line-height: 0;
    position: relative;
    border: 0;
    text-decoration: none;
    margin-top: 15px;
}
.book-btn::before{
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 0%;
    transition: 0.3s;
    z-index: -1;
}
.book-btn:hover::before{
	width: 100%;
    transition: 0.3s;
}
.book-btn:hover{
    color: #EA6594;
}
#about{
	width: 100%;
	padding: 100px 0px;
}
.a-desc{
	font-family: 'Open Sans', sans-serif;
	color: #675e5e;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.a-item{
	margin-top: 10px;
	margin-bottom: 10px;
}
.line{
	height: 4px;
	width: 80px;
	background-color: #EA6594;
	margin-bottom: 24px;
}
#about h2{
	font-family: "Chivo",sans-serif;
    font-size: 50px;
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 12px;
    color: #1182C6;
}
#about h2:hover{
	color: #EA6594;
}
#about p{
	font-family: 'Open Sans', sans-serif;
	color: #675e5e;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}
.transparent{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700 !important;
	border: 2px solid #EA6594;
	color: #1182C6 !important;
	background-color: transparent !important;
	padding-left: 70px;
}
.transparent:hover{
	background-color: #EA6594 !important;
	color: #EA6594 !important;
}
#price{
	width: 100%;
	padding: 50px 0px;
}
.p-content{
	margin: 5rem 0;
}
.p-content h2{
	font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 42px;
    color: #1182C6;
    padding-bottom: 16px;
    border-bottom: 1px solid #150303!important;
    text-transform: uppercase;
}
.p-content h2:hover{
	color: #EA6594;
}
.fw-bold{
	color: #150303;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400 !important;
}
.fw-bold a{
	color: #150303;
}
.p-amount{
	color: #3f4854;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-family: "Chivo",sans-serif;
}
.p-amount span{
	font-weight: bold;
	color: #EA6594 !important;
}
.p-list li{
	padding-bottom: 22px;
	margin-bottom: 22px;
	border-bottom: 1px solid #efdce4;
}
.p-amount span:hover{
	color: #1182C6 !important;
}
#service{
	width: 100%;
	padding: 50px 0px; 
}
#service .titles{
	color: #1182C6 !important;
    font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 42px; 
    text-transform: uppercase;
}
#service .titles:hover{
	color: #EA6594 !important;
}
.accordion-button:not(.collapsed){
	color: white !important;
	background-color: #EA6594 !important;
	box-shadow:none !important;
}
.accordion-button{
	font-family: "Chivo",sans-serif;
    font-size: 20px;
    color: white !important;
    background-color: #1182C6 !important;
    margin-bottom: 16px;
}
.accordion-item{
	border: none;
}
.accordion-button:not(.collapsed)::after {
background-image: url(../img/angle.png);
transform: rotate(-90deg);
}
.accordion-button::after{
background-image: url(../img/angle.png);
transform: rotate(90deg);
}
#s-category{
	margin: 75px 0px;
	width: 100%;
	background-image: url(../img/p8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 0px;
}
.sc-item{
	z-index: 99;
	background-color: #AB7642;
	padding: 24px 29px;
	text-align: center;
	border-radius: 16px;
	position: relative;
}
.sc-item img{

}
.sc-item h3 a{
	font-family: "Chivo",sans-serif;
	color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 21px;
    display: block;
} 
.sc-item p{
	color: #150303;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}
.sc-item::before{
	content: '';
	position: absolute;
	background-color: white;
	right: 0;
	bottom: 0;
	left: 0;
	height: 0%;
	border-radius: 16px;
	transition: 0.5s;
	z-index: -1;
}
.sc-item:hover::before{
	height: 100%;
	transition: 0.5s;
}
.sc-item:hover h3 a{
	color: #150303;
}
#img-slider{
	width: 100%;
}
#img-slider h2{
	color: #1182C6 !important;
    font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 42px;
    text-transform: uppercase;
}
#img-slider h2:hover{
	color: #EA6594 !important;
}
#img-slider .owl-item{
	margin-right: 0 !important;
}
.owl-dots, .owl-nav{
	display: none;
}
.owl-stage{
	transition: all 2s ease 0s !important;
}
.sl-item{
	position: relative;
}
.sl-item::before{
	position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(234,102,149,.2);
    opacity: 0;
    z-index: 1;
}
.sl-item:hover::before{
opacity: 1;
transition: 0.5s;
}
#testimonial{
	width: 100%;
	padding: 50px 0px;
}
.t-item{
	padding: 32px;
}
#testimonial h2{
	color: #1182C6 !important;
    font-family: "Chivo",sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3; 
    text-transform: uppercase;
}
#testimonial .titles:hover{
	color: #EA6594 !important;
}
#testimonial .review-star{
	color: #EA6594;
	font-size: 14px;
	margin-bottom: 16px;
}
#testimonial .msg{
	font-family: 'Open Sans', sans-serif;
	color: #150303 !important;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
    font-weight: 400;
}
.c-border{
	border: 1px solid rgba(103,94,94,.2);
}
.c-border:first-child, .c-border:last-child{
	border-left: none;
	border-right: none;
}
footer{
	width: 100%;
	padding: 100px 0px;
	background-color: #150303;
}
.footer-1 i{
	color: #1182C6;
    font-size: 20px;
    margin-bottom: 25px;
}
.footer-1 h5{
	font-family: 'Chivo', sans-serif;
	color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-1 a{
	color: #928888;
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline transparent;
}
.footer-1 p{
	color: #928888;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.footer-icon i{
	height: 50px;
	width: 50px;
	color: #1182C6;
	font-size: 32px;
	background-color: rgba(255, 255, 255, 0.06);
	border-radius: 100%;
	text-align: center;
	line-height: 50px;
	transition: 0.5s;
}
.footer-icon a{
	margin: 0px 5px;
}
.footer-icon i:hover{
	background-color: #EA6594;
	transform: rotateY(180deg);
	transition: 0.5s;
}
.f-line{
	border-top: 1px solid rgba(255,255,255,.09);
	margin-top: 40px;
	padding-top: 39px;
    padding-bottom: 1px;
}
.copyright{
	color: #928888;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
}
.copyright i{
	color: #1182C6;
}
.copyright i:hover{
	color: #EA6594;
}
.copyright a{
	color: #1182C6 !important;
}
#back-top{
    position: absolute;
    display: inline-block;
    right: 60px;
    bottom: 40px;
}
#back-top a{
    display: block;
    background: yellow;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    color: #1182C6;
    font-size: 20px;
    text-align: center;
    border-radius: 70%;
    line-height: 50px;
    transition: 0.5s;
}
#back-top a i{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    animation: toTop 1s linear infinite;
}
#back-top a:hover{
	background-color: #EA6594;
	transition: 0.5s;
}
@keyframes toTop{
    from{
        bottom: 25%;
    }
    to{
        top: 35%;
    }
}
